/* Variables */
:root {
    --color-dark: #000;
    --color-light: #fff;
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --footer-color: #2F303A;
    --logo-text: 'Raleway'; sans-serif;
    }


/* Global Styles */
body {
    font-family: 'Roboto'; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    
    color: var(--color-dak);}
 
a {
    text-decoration: none;
     color: inherit;
    }

ul {
    list-style: none;
}
button {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;

    border: 0;
    background-color: transparent;

    cursor: pointer;
   
}
.menu-list: hover,
.menu-list focus {
    color: var(--accent-color);
}


/* Header */

.logo {
    font-family: var(--logo-text);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  
   }
span {
    color: var(--accent-color);
}
.menu-list list {
    font-weight: 500;
    line-height: 1.14;
    
 }
.header-phone {
    color: var(--secondary-color);
    }

/* Hero */

.title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;

color: var(--color-light);
background-color: var(--color-dark);
}
.hero-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--color-light);
background-color: var(--accent-color);
}

/* priority */

.priority {
    line-height: 1.14;
    
 }
.priority-text {
    font-weight: 400;
    line-height: 1.71;
    
    color: var(--secondary-color);
}

/* -ABOUT-US */

.about-us {
    font-size: 36px;
    line-height: 1.17;
    
 
.personal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
  }

.post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    
    color: var(--secondary-color);
}

/* Footer */

.footer-logo {
    font-family: var(--logo-text);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color: var(--color-light);
    background-color: var(--footer-color);
}
span {
    color: var(--accent-color);
}

.footer-adress {
    font-weight: 400;
    line-height: 1.71;
    
    color: var(--color-light);
    background-color: var(--footer-color);
}

/*          ---------      PORTFOLIO --------                */


.moden-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    
}

.descript {
    font-size: 18px;
    line-height: 2;
    
}

.sub-descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    
    color: var(--secondary-color);
}