/* Variables */
:root {
    --color-dark: #000;
    --color-light: #fff;
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --footer-color: #2F303A;
    --color-about-us: #F5F4FA;
    }


/* Global Styles */
body {
    font-family: 'Roboto'; sans-serif;
    font-size: 14px;
    
    color: var(--color-dak);}
.link .list .title .about-us { 
    text-transform: uppercase;
}

.title-fon {
    background-color: var(--footer-color);
}
 
.link {
    font-weight: 500;
    text-decoration: none;
     color: inherit;
    }

.list {
    list-style: none;
.
}
button {
    color: inherit;
    font-family: inherit;
    border: 0;
    border-radius: 4px;
    background-color: transparent;

    cursor: pointer;
   }

.link:hover,
.link:focus {text-decoration: underline solid var(--accent-color);}


/* Header */

.logo {
    font-family: 'Raleway'; sans-serif;
    font-size: 26px;
    line-height: 1.19;
  
   }
.logo-var {
    color: var(--accent-color);
}
.menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
 }
.header-phone {
    color: var(--secondary-color);
    }

/* Hero */

.title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;

color: var(--color-light);
}
.hero-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--color-light);
background-color: var(--accent-color);
}

/* priority */

.priority {
    font-weight: 700;
    line-height: 1.14;
    
 }
.priority-text {
    line-height: 1.71;
    
    color: var(--secondary-color);
}

/* -ABOUT-US */

.about-us {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
 
.personal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
  }

.post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    
    color: var(--secondary-color);
}
.about-us-fon {
    background: #F5F4FA;
}

/* Footer */

.footer-logo {
    font-family: 'Raleway'; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
        
    color: var(--color-light);
}


.footer-fon {
    background-color: var(--footer-color);
}

.footer-adress {
    font-style: normal;
    line-height: 1.71;
    
    color: var(--color-light);
}

/*          ---------      PORTFOLIO --------                */


.btn-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    }

.descript {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
}

.sub-descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    
    color: var(--secondary-color);
}